<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Roastery</h1>
        <div class="col-6 offset-3">
            <form action="/roasters/<%=roastery._id%>?_method=PUT" method="POST" novalidate class="form-validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="nama">Nama</label>
                    <input class="form-control" type="text" id="nama" name="roastery[nama]" value="<%= roastery.nama %>"
                        required>
                    <div class="valid-feedback">
                        Keren!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lokasi">Lokasi</label>
                    <input class="form-control" type="text" id="lokasi" name="roastery[lokasi]"
                        value="<%= roastery.lokasi %>" required>
                    <div class="valid-feedback">
                        Keren!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="harga">Harga Houseblend</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="harga-label">Rp</span>
                        <input type="text" class="form-control" id="harga" placeholder="0" aria-label="Harga"
                            aria-describedby="harga-label" name="roastery[harga]" value="<%= roastery.harga %>"
                            required>
                        <div class="valid-feedback">
                            Keren!
                        </div>
                    </div>
                </div>
                <div class=" mb-3">
                    <label class="form-label" for="deskripsi">Deskripsi</label>
                    <textarea class="form-control" type="text" id="deskripsi" name="roastery[deskripsi]"
                        required><%= roastery.deskripsi %></textarea>
                    <div class="valid-feedback">
                        Keren!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="gambar" class="form-label">Tambahkan Gambar</label>
                    <input class="form-control" type="file" id="gambar" name="gambar" multiple>
                </div>
                <div class="mb-3">
                    <% roastery.gambar.forEach(function(img, i){ %>
                        <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="hapusGambar[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Hapus?</label>
                        <% }) %>
                </div>
                <div class="mb-3"> <button class="btn btn-primary">Update Roastery</button>
                </div>
            </form>
            <a href="/roasters/<%= roastery._id %>">Back to Roastery</a>
        </div>
    </div>